*{
    font-family: "Times New Roman";
}
body{
background-color: #F5F5F5;
}
#programmes-btn.active{
    background-color: #820000;
}
#programmes-btn.active h2{
    color: white;
}
#programmes-btn.active  svg{
    stroke: white;
}
.dropdown-block{
    display: none;
}
.dropdown-block.show{
    display: block;
}
/*About section*/
.about-first-block{
    max-width: 55%;
    top: 15%;
}
.red-border-block{
    top: 50px;
    left: 0;
    width: 58%;
    height: 80%;
}
@media screen and (max-width: 1535px){
    .about-first-block{
        top: 4%;
    }
    .red-border-block {
        top: 11px;
        width: 70%;
        height: 90%;
    }
}
@media screen and (max-width: 1279px){
    .about-first-block{
        max-width: 100%;
    }
}
/*END About section*/

/*Footer*/
@media screen and (max-width: 1545px) {
    footer{
        padding-left: 10px;
        padding-right: 10px;
    }
}
/*END Footer*/